<%= link_to "Back to Grower Dashboard",grower_pmu_path(@pmu.grower_id,@pmu) %>
<h3>Phyto Protection  for  <%=@pmu.location %></h3>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Substance</th>
      <th>Quantity</th>
      <th>Reasoning</th>
      <th>Operator</th>
      <th>Tech advisor</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.date %></td>
        <td><%= line.sub.name %></td>
        <td><%= line.quantity %></td>
        <td><%= line.reasoning %></td>
        <td><%= line.operator %></td>
        <td><%= line.tech_advisor %></td>
       
        <td><%= link_to 'Edit',edit_pmu_line_path(@pmu,line)%></td>
        <td><%= link_to 'Delete', pmu_line_path(@pmu,line),method: :delete %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Phyto Protection', new_pmu_line_path(@pmu) %>
