<div>
<h3><%=@group.name%></h3> 
<h5><%=pluralize(@growers.count,"Grower") %></h5>
</div>

<p>
<%=link_to "<<= Back to index",groups_path %>
</p>

<table>
	<tr><th>Name</th><th>Contact</th><th>Details</th></tr>


	<%@growers.each do |grower|%>
	<tr>
		<td><%=link_to grower.name,group_grower_path(@group,grower)%></td>
		<td><%= grower.mobile%></td>
		<td><%=link_to "Show",group_grower_path(@group,grower)%></td>
	</tr>
	<%end%>
</table>




<%=link_to("Add Grower",new_group_grower_path(@group))%>

