<p>
<%=link_to "<<= Back to index",groups_path %>
</p>

<div>
<h3><%=@group.name if params[:group_id].present? %></h3>
<h5><%=pluralize(@growers.count,"Grower") %></h5>
</div>

<table class="table">

	<tr><th>Name</th><th>Fields</th><th>Tons</th></tr>


	<%@growers.each do |grower|%>
	<tr>
      <td><%=link_to grower.name,group_grower_path(@group,grower)%></td>
      <td><%= grower.pmus.count%></td>

	</tr>
	<%end%>
</table>



<%=link_to("Add Grower",new_group_grower_path(@group))%>

