<h3><%=@group.name%></h3>
<h5><%=@grower.name%></h5>
<%=link_to "<<=Back to Growers list ",group_growers_path%>
<p><b>Name :</b><%=@grower.name%></p>
<p><b>Address:</b><%=@grower.address%></p>
<p><b>Mobile:</b><%=@grower.mobile %></p>
<p><b>GGN:</b><%=@grower.ggn%></p>
<%=link_to "Edit", edit_group_grower_path(@group,@grower) %> | 
<%=link_to "Delete",group_grower_path(@group,@grower),method: :delete %>
<br><br>
<hr>
<p>
	<%=link_to "List of Fields",grower_pmus_path(@grower)%>
</p>
<p>
	<%=link_to "Add a Field ",new_grower_pmu_path(@grower)%>
</p
