<p id="notice"><%= notice %></p>

<p>
  <strong>Farmako:</strong>
  <%= @epembash.farmako %>
</p>

<p>
  <strong>Crop:</strong>
  <%= @epembash.crop %>
</p>

<p>
  <strong>Diast pros:</strong>
  <%= @epembash.diast_pros %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @epembash.comments %>
</p>

<%= link_to 'Edit', edit_epembash_path(@epembash) %> |
<%= link_to 'Back', epembashes_path %>
