<%=link_to "<< Previous",@clitem.previous %> | 
<%=link_to "Next >>",@clitem.next %>
<p>
  Number:
  <strong>
    <%= @clitem.number %>
  </strong>
</p>


<p>
  <strong>Control point:</strong>
  <br>
  <%= @clitem.control_point %>
</p>

<p>
  <strong>Compliance criteria:</strong>
  <br>
  <%= @clitem.compliance_criteria %>
</p>
<p>
  Level:
  <br>
  <strong><%= @clitem.level %></strong>
</p>

<%= link_to 'Edit', edit_clitem_path(@clitem) %> |
<%= link_to 'Back', clitems_path %>
<hr>

<%=link_to 'Add an Instruction +', new_clitem_instruction_path(@clitem)%>


<hr>
<%=link_to 'Add a Procedure +'%>
<hr>
<%=link_to 'Add a Managment Plan'%>
<hr>
<%=link_to 'Add a Risk Analysis'%>
<hr>

