<%=link_to "<< Back to Grower Dashboard",grower_pmu_path(@pmu.grower_id,@pmu)%>

<h3>Irrigations for <%=link_to(@pmu.location,grower_pmu_path(@pmu.grower_id,@pmu))%></h3>
<div>
<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Duration</th>
			<th>Quantity</th>
			<th>Operator</th>
		</tr>
	</thead>

		<% @irrigations.each do |i| %>
		<tbody>
		<tr>
			<td><%=i.date%></td>
			<td><%=i.duration%></td>
			<td><%=i.quantity%></td>
			<td><%=i.operator%></td>
			<td><%=link_to"Edit",edit_pmu_irrigation_path(@pmu,i)%></td>
			<td><%=link_to "Delete",pmu_irrigation_path(@pmu,i),method: :delete%></td>
		</tr>
		</tbody>
		<%end%>
	
</table>
</div>

<p>
<%= link_to 'Add another Irrigation', new_pmu_irrigation_path(@pmu) %>
</p>
	
	