<h1>Listing of  Instructions for <%=@clitem.number%></h1>
<h5>Compliance Criteria  for <%=@clitem.about%> </h5> <br>

<%=@clitem.compliance_criteria%>

  
      <h4>Instruction </h4>
  

  <ul>
    <% @instructions.each do |instruction| %>
      <li>
        <%= instruction.description %>
        <%= link_to 'Edit', edit_clitem_instruction_path(@clitem,instruction)  %>
        <%= link_to 'Destroy',[@clitem,instruction],method: :delete, data: { confirm: 'Are you sure?' }  %>
      </li>
    <% end %>
  </ul>
</table>

<br>

<%= link_to 'New Instruction',new_clitem_instruction_path(@clitem) %>
<br>
<br/>
<%=link_to '<<Back to Global Gap Check List ',clitems_path(@clitem)%>
