<h1>Listing pps</h1>
<h3><%=@farmakos.count%> approved pp solutions for <%=@crop.gonoma%></h3>

<table>
  <thead>
    <tr>
      <th>CommercialName</th>
      <th>ΓρεεκCommercialName</th>
      <th>phi</th>
      <th>Comments</th>
      
      <th>Prime igredient</th>
      <th>Telos Egrisis</th>
      
    </tr>
  </thead>

  <tbody>
    <% @farmakos.each do |farmako| %>
      <tr>
        <td><%= farmako.gbonoma %></td>
        <td><%= farmako.emporikhon %></td>
       <td> <%= farmako.epembashes.find_by(crop_id:params[:crop_id]).diast_pros %> </td>
       <td> <%= farmako.epembashes.find_by(crop_id:params[:crop_id]).comments %> </td>
       <td>   </td>
       <td> <%=farmako.telos_egri%> </td>
       <td> </td>


    <% end %>
      </tr>

  </tbody>
</table>

<br>


