<%= form_for([@pmu,@fertilizer]) do |f| %>
  <% if @fertilizer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fertilizer.errors.count, "error") %> prohibited this fertilizer from being saved:</h2>

      <ul>
      <% @fertilizer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> 
    <%= f.hidden_field :pmu_id %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  <div class="field">
   <%= f.label :sub_id,"Substance" %>
    <%= f.collection_select :sub_id, Sub.all,:id,:name %> 
    
  </div>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :reasoning %>
    <%= f.text_field :reasoning %>
  </div>
  <div class="field">
    <%= f.label :operator %>
    <%= f.text_field :operator %>
  </div>
  <div class="field">
    <%= f.label :tech_advisor %>
    <%= f.text_field :tech_advisor %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%=link_to "Cancel",pmu_fertilizers_path %>
  </div>
<% end %>
