<%=link_to "<< Back to Grower Dashboard",grower_pmu_path(@pmu.grower_id,@pmu)%>

<h3>Listing fertilizers for <%=link_to(@pmu.location,grower_pmu_path(@pmu.grower_id,@pmu))%></h3>

<table>
  <thead>
    <tr>
      <th>Pmu</th>
      <th>Sub</th>
      <th>Date</th>
      <th>Quantity</th>
      <th>Reasoning</th>
      <th>Operator</th>
      <th>Tech advisor</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fertilizers.each do |fertilizer| %>
      <tr>
        <td><%= fertilizer.pmu_id %></td>
        <td><%= fertilizer.sub_id %></td>
        <td><%= fertilizer.date %></td>
        <td><%= fertilizer.quantity %></td>
        <td><%= fertilizer.reasoning %></td>
        <td><%= fertilizer.operator %></td>
        <td><%= fertilizer.tech_advisor %></td>
       
        <td><%= link_to 'Edit', edit_pmu_fertilizer_path(@pmu,fertilizer) %></td>
        <td><%= link_to 'Destroy', pmu_fertilizer_path(@pmu,fertilizer), method: :delete  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fertilizer', new_pmu_fertilizer_path %>
