<p id="notice"><%= notice %></p>

<p>
  <strong>Code asten:</strong>
  <%= @asthenium.code_asten %>
</p>

<p>
  <strong>Astenia:</strong>
  <%= @asthenium.astenia %>
</p>

<p>
  <strong>Nastenia:</strong>
  <%= @asthenium.nastenia %>
</p>

<%= link_to 'Edit', edit_asthenium_path(@asthenium) %> |
<%= link_to 'Back', asthenia_path %>
