<%= form_for(@group) do |f| %>
<p>
	<%=f.label :name%>
</p>
<p>
	<%=f.text_field:name,autofocus: true %>
</p>
<p>
	<%=f.label :address%>
</p>
<p>
	<%=f.text_area:address%>
</p>
<p>
	<%=f.label :phone%>
</p>
<p>
	<%=f.text_field:phone%>
</p>
<p>
	<%=f.label :mobile%>
</p>
<p>
	<%=f.text_field:mobile%>
</p>
<p>
	<%=f.submit%> | 
	<%=link_to"Cancel",groups_path%>
</p>
<%end%>