
<div class="jumbotron vertical-center">

  <h2><%= pluralize(@groups.count ,'Group') %> </h2>
<h3><%= pluralize(@growers.count,'Grower') %> <h3>

</div>
  <%=link_to("Add new Group",new_group_path , class:"btn btn-link")%>


 <ul class="list-unstyled">
 	<% @groups.each do |group|%>
 	<li>
          <%= link_to "#{group.name} #{group.growers.count}g #{group.pmus.count}f-",group_path(group)%>
 		  <%= group.growers.count(@group) %> Growers
 		  <%= group.pmus.count%> Fields
 	<% end%>
 </ul>
 <div>
</div>
