<h1><%= pluralize(@groups.count ,'Group') %> </h1>
<h3><%= pluralize(@growers.count,'Grower')%></h3>



<%=link_to("Add new Group",new_group_path)%>


 <ul>
 	<% @groups.each do |group|%>
 	<li>
 		<strong>
 			<%= link_to(group.name ,group_path(group)) %>
 		</strong> 
 		  <%= group.growers.count(@group) %> Growers</li>
 	<% end%>
 </ul>
