<h2>New <%=@event.type%> -Event form</h2>

<%= form_for([@grower,@event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this pmu from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


=========

  
   <div>
     <%= f.text_field :type %>
  </div>
  

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%=f.collection_check_boxes(:pmu_ids,@grower.pmus,:id,:location)%>
    
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>

  <div class="field">
    <%= f.label :operator %><br>
    <%= f.text_field :operator %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>