<h1>The Field log</h1>
<p>
	<%=link_to"Back to Grower", group_grower_path(@grower.group_id,@grower)%>
</p>
<div>
  <%=link_to "+ Fertilization",new_grower_evfert_path(@grower) %><br>
  <%=link_to "+ Cultivation",new_grower_evcult_path(@grower) %><br>
  <%=link_to "+ Phyto Protection",new_grower_evphyto_path(@grower) %><br>
  <%=link_to "+ Event",new_grower_event_path(@grower) %>
</div>
<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Type</th>
			<th>Pmus</th>
			<th>Note</th>

		</tr>
	</thead>
	<tbody>
		<% @events.each do |event|%>
		<tr>
			<td><%=event.date%></td>
			<td><%=event.type%></td>
			<td>
			   
			   	<% event.pmus.each do |pmu|%>
			     <%=pmu.location%>
			     <%end%> 
			   
			</td>
		   </td>
			<td><%=event.note%></td>
			<td><%=link_to "Edit",edit_grower_event_path(@grower,event),class:"btn btn-link"%></td>
			<td><%=link_to "Show",grower_event_path(@grower,event),class:"btn btn-link"%></td>
			<td><%=link_to "Delete",grower_event_path(@grower,event),method: :delete,class:"btn btn-link"%></td>
		</tr>
		<%end%>
	</tbody>
</table>