<p id="notice"><%= notice %></p>

<p>
  <strong>Gbonoma:</strong>
  <%= @farmako.gbonoma %>
</p>

<p>
  <strong>Emporikhon:</strong>
  <%= @farmako.emporikhon %>
</p>

<p>
  <strong>Hmer egris:</strong>
  <%= @farmako.hmer_egris %>
</p>

<p>
  <strong>Telos egri:</strong>
  <%= @farmako.telos_egri %>
</p>

<%= link_to 'Edit', edit_farmako_path(@farmako) %> |
<%= link_to 'Back', farmakos_path %>
