<%= form_for(@project) do |f|%>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :produce %><br>
    <%= f.text_field :produce,class:"form-control" %>
  </div>


  <div class="radio-inline">
    <%=f.radio_button :option,"Option 1",class:"control"%>Option 1
    <%=f.label :option,"Option 1",class:"radio-inline"%>
    <%=f.label :option,"Option 2",class:"radio-inline"%>
    <%=f.radio_button :option,"Option 2",class:"control"%>
  </div>

  <div class="form-group">
    <%= f.label :name ,class:"control-label"%><br>
    <%= f.text_area :name,class:"control" %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn" %>
  </div>
<% end %>

