<p id="notice"><%= notice %></p>

<p>
  <strong>Kathg:</strong>
  <%= @crop.kathg %>
</p>

<p>
  <strong>Eidos:</strong>
  <%= @crop.eidos %>
</p>

<p>
  <strong>Gonoma:</strong>
  <%= @crop.gonoma %>
</p>

<%= link_to 'Edit', edit_crop_path(@crop) %> |
<%= link_to 'Back', crops_path %>
