<%= form_for([@grower,@pmu]) do |f| %>
  <% if @pmu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pmu.errors.count, "error") %> prohibited this pmu from being saved:</h2>

      <ul>
      <% @pmu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




   <div class="field">
    <%= f.hidden_field :grower_id %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address  %>
  </div>

  


  <div class="field">
    <%= f.label :nearest_village %>
    <%= f.text_field :nearest_village %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :area %>
    <%= f.number_field :area %>
  </div>



  <div class="field">
    <% hidden_field_tag "pmu[facility_ids][]",nil %>
    <strong>Facilities</strong><br>
  <% Facility.all.each do |facility| %>
    <%= check_box_tag "pmu[facility_ids][]", facility.id,@pmu.facility_ids.include?(facility.id),id: dom_id(facility)  %>
    <%= facility.name %>
  <% end %>
  </div>


  

  <div class="actions">
    <%= f.submit class:"btn btn-default" %>
  </div>
<% end %>
