<p id="notice"><%= notice %></p>

<p>
  <strong>Produce:</strong>
  <%= @pmu.produce %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @pmu.variety %>
</p>

<p>
  <strong>Location:</strong>
  <%= @pmu.location %>
</p>

<p>
  <strong>Nearest village:</strong>
  <%= @pmu.nearest_village %>
</p>

<p>
  <strong>Address:</strong>
  <%= @pmu.address %>
</p>

<p>
  <strong>Plantation year:</strong>
  <%= @pmu.plantation_year %>
</p>

<p>
  <strong>Number of trees:</strong>
  <%= @pmu.number_of_trees %>
</p>

<p>
  <strong>Area:</strong>
  <%= @pmu.area %>
</p>

<p>
  <strong>Expected production:</strong>
  <%= @pmu.expected_production %>
</p>

<%= link_to 'Edit', edit_grower_pmu_path(@grower,@pmu) %> |
<%= link_to 'Back', grower_pmus_path(@group,@grower) %>
