<%=link_to "<<<Back to Grower",group_grower_path(@grower.group_id,@grower)%>


<p id="notice"><%= notice %></p>

<p>
<p><strong><%=@grower.name %></strong></p>  
  <strong><%= @pmu.produce %></strong>

  Variety:
  <%= @pmu.variety %>
</p>



<p>
  <strong>Plantation year:</strong>
  <%= @pmu.plantation_year %>

  <strong>Number of trees:</strong>
  <%= @pmu.number_of_trees %>

  <strong>Area:</strong>
  <%= @pmu.area %>

  <strong>Expected production:</strong>
  <%= @pmu.expected_production %>
</p>

<b>Facilities</b>
<ul>
  <% @pmu.facilities.each do|facility|%>
  <li><%=facility.id%></li>
  <% end%>
</ul>



<p>
  <strong>Location:</strong>
  <%= @pmu.location %>

  <strong>Nearest village:</strong>
  <%= @pmu.nearest_village %>

  <strong>Address:</strong>
  <%= @pmu.address %>
</p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=true&zoom=16&markers=#{@pmu.latitude}%2C#{@pmu.longitude}" %>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&maptype=satellite&zoom=18&markers=#{@pmu.latitude}%2C#{@pmu.longitude}" %>
<p>
  <br>
  <%= link_to 'Edit', edit_grower_pmu_path(@grower,@pmu) %> |

<%= link_to 'Back', grower_pmus_path(@grower,@pmu) %>

</p>



<hr>
<h4>Nearby Pmus</h4>
<ul>
  <% for location in @pmu.nearbys(10)%>
  <li><%=link_to location.nearest_village, grower_pmu_path %>(<%= location.distance.round(2) %> miles) </li>
   <%end %>
</ul>



<hr>
<h3>Phyto Protection <%= link_to "+",new_pmu_line_path(@pmu)%></h3>
<%=render :partial=> "pp_list",:locals=>{:lines=>Line.find_all_by_pmu_id(@pmu.id)} %>

<h3>Fertilization <%= link_to "+",new_pmu_fertilizer_path(@pmu)%></h3>
<%=render :partial=> "fertilizations_list",:locals=>{:fertilizers=>Fertilizer.find_all_by_pmu_id(@pmu.id)} %>

<h3>Irrigation <%= link_to "+",new_pmu_irrigation_path(@pmu)%></h3>
<%=render :partial=> "irrigations_list",:locals=>{:irrigations=>Irrigation.find_all_by_pmu_id(@pmu.id)} %>
<hr>
<%=link_to "Phyto Protection Log",pmu_lines_path(@pmu)%>
<%=link_to "Fertilizing Log",pmu_fertilizers_path(@pmu)%>
<%=link_to "Irrigation Log",pmu_irrigations_path(@pmu)%>
<hr>
