<%=link_to "<<<Back to Grower",group_grower_path(@grower.group_id,@grower)%>


<p id="notice"><%= notice %></p>

<p>
<p><strong><%=@grower.name %></strong></p>  
  <strong><%= @pmu.produce %></strong>

  Variety:
  <%= @pmu.variety %>
</p>

<p>
  <strong>Location:</strong>
  <%= @pmu.location %>

  <strong>Nearest village:</strong>
  <%= @pmu.nearest_village %>

  <strong>Address:</strong>
  <%= @pmu.address %>
</p>

<p>
  <strong>Plantation year:</strong>
  <%= @pmu.plantation_year %>

  <strong>Number of trees:</strong>
  <%= @pmu.number_of_trees %>

  <strong>Area:</strong>
  <%= @pmu.area %>

  <strong>Expected production:</strong>
  <%= @pmu.expected_production %>
</p>


<%= link_to 'Edit', edit_grower_pmu_path(@grower,@pmu) %> |

<%= link_to 'Back', grower_pmus_path(@grower,@pmu) %>

<hr>
<%= link_to "Add Phyto Protection",new_pmu_line_path(@pmu)%>
<%= link_to "Add Fertilizer",new_pmu_fertilizer_path(@pmu)%>
<%= link_to "Add Irigation",new_pmu_irrigation_path(@pmu)%>

<hr>
<%=link_to "Phyto Protection Log",pmu_lines_path(@pmu)%>
<%=link_to "Fertilizing Log",pmu_fertilizers_path(@pmu)%>
<%=link_to "Irrigation Log",pmu_irrigations_path(@pmu)%>
<hr>
