<h1>Listing systatiks</h1>

<h4>Import Systatika</h4>
<%= form_tag import_systatiks_path,multipart: true do %>
<%= file_field_tag :file  %>
<%= submit_tag  "Import"%>
<%end%>
<table>
  <thead>
    <tr>
      <th>Kodikos</th>
      <th>Onomadron</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @systatiks.each do |systatik| %>
      <tr>
        <td><%= systatik.kodikos %></td>
        <td><%= systatik.onomadron %></td>
        <td><%= link_to 'Show', systatik %></td>
        <td><%= link_to 'Edit', edit_systatik_path(systatik) %></td>
        <td><%= link_to 'Destroy', systatik, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Systatik', new_systatik_path %>
