<p id="notice"><%= notice %></p>

<p>
  <strong>Kodikos:</strong>
  <%= @systatik.kodikos %>
</p>

<p>
  <strong>Onomadron:</strong>
  <%= @systatik.onomadron %>
</p>

<%= link_to 'Edit', edit_systatik_path(@systatik) %> |
<%= link_to 'Back', systatiks_path %>
