<h1>Listing procedures</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Result</th>
      <th>Accountable</th>
      <th>Clitem</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @procedures.each do |procedure| %>
      <tr>
        <td><%= procedure.title %></td>
        <td><%= procedure.result %></td>
        <td><%= procedure.accountable %></td>
        <td><%= procedure.clitem %></td>
        <td><%= link_to 'Show', procedure %></td>
        <td><%= link_to 'Edit', edit_procedure_path(procedure) %></td>
        <td><%= link_to 'Destroy', procedure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Procedure', new_procedure_path %>
