<%= form_for(@logentry) do |f| %>
  <% if @logentry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@logentry.errors.count, "error") %> prohibited this logentry from being saved:</h2>

      <ul>
      <% @logentry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>

  <div class="form-inline" >
    <%=f.collection_check_boxes(:pmu_ids,@grower.pmus,:id,:location)%>
    <hr>
  </div>
  
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :operator %><br>
    <%= f.text_field :operator %>
  </div>
  <div class="field">
    <%= f.label :workers %><br>
    <%= f.number_field :workers %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
