<div class="navbar navbar-fluid-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Gap</a>
      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <li><%= link_to "Users", "/path1"  %></li>
          <li><%= link_to "Pricing", "/path2"  %></li>
          <li><%= link_to "About Us", "/path3"  %></li>
        </ul>
        <div id="user_nav" class = 'pull-right'>
          <% if user_signed_in? %>
              Logged in as <strong><%=current_user.email%> <%=current_user.id%> </strong>
              <%=link_to "Edit Profile",edit_user_registration_path%>
              |
              <%= link_to "Logout",destroy_user_session_path,method: :delete%>
          <%else%>
              <%=link_to "Sign up",new_user_registration_path %>
              <%=link_to "Login",new_user_session_path %>
          <%end%>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>